extends base.pug
block scripts
    script(src="/static/index.js") 
block style
    style
        include ../static/style.css
block content 
    section#introSection
        | Welcome to Dance Academy
    section#sponsorSection
        h3 Our sponsors

    footer#footer 
        